p.normal{font-family: Arial, Helvetica, sans-serif}
#lead-paragraph {
  color: white;
  font-weight: bold;}
p{
  color: white;
  font-family: "Catamaran",sans-serif;
  }
h2{color: White;
  padding: 2rem;
border-style:solid;
border-color: White;
border-width: 3px;
text-align: left}
h5{color: white;
  padding: 20px}
li{color: white}
blockquote {color: white;
padding: 2rem;
border-style: solid;
border-color: white;
border-width: 3px;
font-family: "Catamaran",sans-serif;}
body {background-color:	black; font-family: sans-serif;}
footer {color: #dcdcdc; padding: 1rem; text-align: center}
a[href="goatimages.html"] {color: white; font-size: 18px; font-family: sans-serif;
  }
a[href="tik-tok-links.html"] {color: white; font-size: 18px; font-family: sans-serif;
  }
a[href="index.html"] {color: white; font-size: 18px; font-family: sans-serif;
    }
a[href="https://www.tiktok.com/@jillegoat/video/7126779168926518574?is_copy_url=1&is_from_webapp=v1"] {color: white; font-size: 18px; font-family: sans-serif;
}
a[href="https://www.tiktok.com/@jillegoat/video/7123786716770569514?is_copy_url=1&is_from_webapp=v1"] {color: white; font-size: 18px; font-family: sans-serif;
}
a[href="https://www.tiktok.com/@jillegoat/video/7112260620757683502?is_copy_url=1&is_from_webapp=v1"] {color:white; font-size: 20px}
img{
 box-sizing: content-box;
 padding: 2%;}
.center {display: block;
 margin-left: auto;
 margin-right: auto;
 width: 45%;}
 .box{
   height: 400px;
   width: 400px;
   border: 10px solid white;
   background: black;
 }
 .container{
   height: 400px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.goatimagepage {
  font-style: italic;
  color: white;
  font-size: 24px;
  text-align: center;
  font-family: sans-serif;
}
.h1-header {
  box-sizing: content-box;
  position: inherit;
  padding: 2.5rem;
  background-color: #474747;
  border: 10px;
  font-family: sans-serif;
  text-align: center;
  color: white;
}
.TikTokLinks {
  font-size: 18px;
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
}
.Tiktoklinkpage {
 font-size: 18px;
 font-family: sans-serif;
 font-weight: lighter;
 text-indent: 10%;
 color: white;
 }
.allpagesheader {
  background-color: #474747;
  font-family: "Catamaran",sans-serif;
  font-weight: normal;
  color: white;
  text-align: center;
  align-content: center;
  height: auto;
}
.TikToklinkpageheader2 {
  background-color: #474747;
  font-family: sans-serif;
  font-weight: normal;
  color: white;
  border: solid;
  border-color: white;
  height: 1rem;
  font-size: 22px;
}
.h1-header{
  background-color: #474747;
  font-family: sans-serif;
  font-weight: normal;
  color: white;
  border: solid;
  border-color: white;
  height: 1rem;
  font-size: 22px;
}
.h1-links {
  background-color:#669999;
  font-family: sans-serif;
  color: white;
  height: 5%;
  font-size: 22px;
  text-indent: inherit;
  line-height: 3rem;
  width: 100%;
}
header{
box-sizing: content-box;
width: 100%;
background-color: #474747;
color: white;
font-weight:lighter;
font-family: sans-serif;
padding-top: 2rem;
text-align: center;
font-size: 22px;
}
.homepageheader{
  background-color: #474747;
  font-family: "Catamaran", sans-serif;
  font-weight: lighter;
  color: white;
  height: 10%;
  font-size: 22px;
}
.h1-header{
box-sizing: content-box;
width: 100%;
background-color: #474747;
color: white;
font-weight:lighter;
font-family: sans-serif;
padding-top: 2rem;
}
.imagepageheader{
  background-color: #474747;
  font-family: 'Catamaran', sans-serif;
  color: white;
  height: 10%;
  font-size: 20px;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
  .lucy{
    box-sizing: content-box;
    text-indent: 5%;
    background-color:#669999;
    font-family: 'Catamaran', sans-serif;
    color: white;
    font-size: 20px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-style: solid;
    border-color: #808080;
    border-width: 3px;
  }
    /* code that is here, until the first @media block, will apply to any screen size */
  #somethingorother {
    width: 800px ;
  }

  @media screen and (max-width: 320px) {
    /* comes into effect for screens less than or equal to 320 pixels */
    #somethingorother {
      width: 120px ;
    }
  }
  @media screen and (min-width: 321px) and (max-width: 480px) {
    /* comes into effect for screens between 321 and 480 pixels (inclusive) */
    #somethingorother {
      width: 320px ;
    }
  }
  @media screen and (min-width: 481px) {
    /* comes into effect for screens larger than or equal to 481 pixels */
    #somethingorother {
      width: 480px ;
  }
  /* code that is here will apply to any screen size */
